

<div class=" background" >

<h1 class="text-light">about</h1>

<div class="text-light">
    ANGEL_OF_DEATH　のこだわりの品が揃っています。
    今時では珍しい手書きのデザイン制作で
    より独創的且つ、オシャレなファッションです。
    ここであなたもANGEL_OF_DEATHの虜になっていきませんか？
</div>

</div>

