<div class="mx-auto" style="width: 800px;">

<h1>about</h1>

<div>
    ANGEL_OF_DEATH　のこだわりの品が揃っています。
    今時では珍しい手書きのデザイン制作で
    より独創的且つ、オシャレなファッションです。
    ここであなたもANGEL_OF_DEATHの虜になっていきませんか？
</div>

</div>

