/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 @import "slick-theme";
 @import "slick";



 .background {
  background-image: image-url('IMG_02272.jpg');
  background-size: cover;
  height: 2000px;
}

.background2 {
  background-image: image-url('IMG_0222.jpg');
  background-size: cover;
  height: 2000px;
}

@media screen and (max-width:639px) {
.background{
height: 85vh;
background-size: auto 100%;
background-repeat: no-repeat;
background-position: center;
/*スマホ用のcssを記述*/
}
}

@media screen and (max-width:639px) {
.background2{
height: 85vh;
background-size: auto 100%;
background-repeat: no-repeat;
background-position: center;
/*スマホ用のcssを記述*/
}
}

@media only screen and (min-width:640px) and (max-width:1023px) {
/*tablet用のcssを記述*/
}

@media screen and (min-width:1024px) {
/*pc用のcssを記述*/
}
#wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#slider{
  width: 300px;
  margin:0 auto 30px;
}
.slide-item{
  img{
    width: 100%;
  }
}
#thumbnail-list{
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: frex-start;
  flex-wrap:wrap;
  gap: 10px;
}
.thumbnail-item{
  flex: 0 1 30%;
  margin-bottom: 10px;
  box-sizing: border-box;
  position:relative;
  list-style:none;
  &:after{
    content:'';
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: .3s opacity linear;
  }
  &.thumbnail-current:after{
    opacity: 0;
  }
  img{
    width: 100%;
    margin: 0 auto;
  }
}
